NODE_ENV="development"
APP_JWT_SECRET="APP_JWT_SECRET"
GHL_SHARED_SECRET="GHL_SHARED_SECRET"
BASE_APP_URI=https://smartbuild-311299010066.europe-west1.run.app/app
DEPOSYT_PRIVATE_API_KEY="DEPOSYT_PRIVATE_API_KEY"
DEPOSYT_WEBHOOK_SIGNING_KEY="DEPOSYT_WEBHOOK_SIGNING_KEY"
GCP_PROJECT_ID="key-phoenix-433116-f9"
SMARTBUILD_BASE_URL="https://postframesolver.azurewebsites.net"
GHL_SCOPES="contacts.write opportunities.write opportunities.readonly contacts.readonly locations.readonly users.readonly workflows.readonly locations/customFields.write locations/customFields.readonly"
REDIRECT_URI="https://smartbuild-311299010066.europe-west1.run.app/auth/callback"
GHL_DEFAULT_API_VERSION="2021-07-28"
GHL_CLIENT_ID="GHL_CLIENT_ID"
GHL_BASE_URL="https://services.leadconnectorhq.com"